.user-information.columns.tabs-divs{class: tabs_open_helper(tabs_param: params[:profile], tab_id: "user-information", active_class: "d-block", inactive_class: "d-none", default_tab: true)}
  .column.col-xl-6 
  .divider-vert{ data: { content: "OR" } }
  .column.col-xl-6 
