<hr>
<footer>
	<table>
			<td><%= link_to "Gå til admin", admin_path(), class: "button" %></td>
      <% if user_signed_in? %>
        <td><%= link_to "Log ud", destroy_user_session_path(), method: :delete, class: "button" %></td>
      <% else %>
        <td><%= link_to "Log ind", user_session_path(), class: "button" %></td>
      <% end %>

	</table>
</footer>
