%body
  %header
    .row
      = link_to forside_path(), class: "text-center d-block" do
        = image_tag "mikrofest-logo", class: "d-inline-block"
      %h2.headline-sub.text-center.f-small Store bøger fra små forlag
