- if notice.present?
  .toast.toast-success.text-center
    %button.btn.btn-clear.float-right
    = notice.html_safe
- if alert.present?
  .toast.toast-warnings.text-center
    %button.btn.btn-clear.float-right
    = alert.html_safe
.js-message.text-center.d-none
  %button.btn.btn-clear.float-right
  
