- if notice.present?
  .toast.toast-success.text-center
    %button.btn.btn-clear.float-right
    = notice
- if alert.present?
  .toast.toast-warnings.text-center
    %button.btn.btn-clear.float-right
    = alert
