.columns.mt-4
  .col-12.col-sm-6
    = link_to_previous_page records, "&#8592; Forrige side".html_safe, class: "float-left"
  .col-12.col-sm-6
    = link_to_next_page records, "Næste side &#8594;".html_safe, class: "float-right"
