= link_to one_publisher_path(each.friendly_id), class: "column col-3 col-md-4 col-sm-6 col-xs-12 publisher-each" do
  %h5= each.name
  = tag.p truncate(each.description, length: 50, escape: false) unless each.description.nil?
