.columns
  .column.col-12
    %a.btn.btn-primary.js-modal-target.c-pointer.float-right{"data-target" => "mikrogramCreate"} Opret Mikrogram
.columns
  .column.col-4
    %h5 Hej
    %p Velkommen tilbage. Her kan du se lidt af hvert!
    %h6 Din konto
    %strong Email
    %p= @publisher.email
    %strong Tlf
    %p 123887888
  .column.col-8
    %h5 Bestillinger
    %hr 
    %p Ingen bestillinger fundet
    %hr 

= render partial: 'mikrograms/create_modal', locals: {open_modal: @open_modal, publisher: @publisher, mikrogram: @mikrogram}

