<h1 class="text-center">Mikrofest</h1>

<p>Store bøger fra små forlag. Åbner i løbet af 2018</p>

<p>Mikrofest-antologien udkommer d. 3. marts – læs mere 
	<a href="https://www.facebook.com/events/166199564022757" target="_blank">her</a>
</p>

<p>Følg os på <a href="https://www.facebook.com/mikrofest.dk/" target="_blank">Facebook</a>.</p>

<p>Sig <a href="mailto:hej@mikrofest.dk?Subject=Hej%20Mikrofest" target="_top">hej@mikrofest.dk</a></p>

<p> Mikrofest er støttet af Statens Kunstfond og Fonden Roskilde Festival.  </p>
