<div class="row">
	<h1 class="text-center">Mikrofest</h1>
	<h2 class="text-center f-small">Store bøger fra små forlag</h2>
	<hr>
</div>
<div class="row">
	<div class="eight columns">
		Elit quidem nemo similique vero eius In id earum adipisci officia hic, quidem, est reprehenderit quisquam? Alias iste natus odit quaerat officia laboriosam. Cum qui corporis iste optio quae aut?
		Elit quidem nemo similique vero eius In id earum adipisci officia hic, quidem, est reprehenderit quisquam? Alias iste natus odit quaerat officia laboriosam. Cum qui corporis iste optio quae aut?
		Elit quidem nemo similique vero eius In id earum adipisci officia hic, quidem, est reprehenderit quisquam? Alias iste natus odit quaerat officia laboriosam. Cum qui corporis iste optio quae aut?
	</div>
	<div class="four columns">
		Elit quidem nemo similique vero eius In id earum adipisci officia hic, quidem, est reprehenderit quisquam? Alias iste natus odit quaerat officia laboriosam. Cum qui corporis iste optio quae aut?
		Elit quidem nemo similique vero eius In id earum adipisci officia hic, quidem, est reprehenderit quisquam? Alias iste natus odit quaerat officia laboriosam. Cum qui corporis iste optio quae aut?
	</div>
</div>
