<% unless @publisher.image.nil?  %>
  <div class="pub-cover-wrapper">
    <%= image_tag @publisher.image.url, class: "pub-cover" %> 
  </div>
<% end %>
<h3 class="text-center"><%= @publisher.name %></h3>
<%= tag.p "Beskrivelse af forlag: " + @publisher.description unless @publisher.description.nil? %>

<% if @titles.any? %>
	<h4 class="text-center">Titler</h4>
	<div class="row">
		<%= render partial: 'titles/each', collection: @titles, locals: {without_publisher: true} %>
	</div>
<% else %>
	<p class="text-center">
		Forlaget har ingen titler endnu.
	</p>
<% end %>

