<%= link_to (tag.p "&#8592; Forlaget #{@publisher.name}".html_safe), one_publisher_path(@publisher.friendly_id) %>
<h3>Titel: <%= @title.title %></h3>
<%= tag.p "Beskrivelse: #{@title.description}" unless @title.description.nil? %>
