%h3.text-center Alle titler
.columns.title-each-wrapper
  = render partial: 'titles/each', collection: @titles if @titles.any?

= render partial: "shared/pagination", locals: {records: @titles} if @titles.any? 
