
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-uppercase {
	text-transform: uppercase;
}

.f-small {
	font-size: 1.8rem;
}

.d-block {
	display: block;
}

.notice {
	background-color: lighten(green, 30%);
}
.alert {
	background-color: lighten(red, 10%);
}
