@includde './mixins';
/* WIERD COLUMN ERROR */

.row {
    @include flex;
    @include flex-wrap(wrap);
}
.three.columns:nth-child(4n + 1) {
    margin-left: 0;
}
a {
    color: black!important;
    text-decoration: underline;
}
.content-wrapper {
  margin-top: 20px;
  overflow: hidden;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-uppercase {
	text-transform: uppercase;
}

.f-small {
	font-size: 1.8rem;
}

.d-block {
	display: block;
}

.notice {
	background-color: lighten(green, 30%);
}
.alert {
	background-color: lighten(red, 10%);
}
