@import './colors';
@import './mixins';

.w-100 {
  width: 100%;
}
.content-wrapper {
  margin-top: 20px;
}

.text-left {
  text-align: left!important;
}
.remember-me {
  text-align: left!important;
}
.small {
  font-size: 0.7em;
}
