@import 'imports/colors';

nav {
	@include flex();
	@include justify-content(center);
	border-top: 1px solid $default_grey;
	border-bottom: 1px solid $default_grey;
	a {
		margin: 10px!important;
	}
}


