@import 'imports/transitions';
@import 'imports/mixins';


html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1 0 auto;
}

footer {
  border-top: 3px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;

}

.content-wrapper {
  margin-bottom: 100px;
}
.headline {
  text-transform: uppercase;
}
.headline-sub {
  font-size: 0.9em;
}
.save-favorite {
  font-size: 24px;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.tile {
  padding: 10px;
}
.navbar-section {
  justify-content: center;
}

.form-inputs {
  label {
    display: block; 
    text-align: center;
  }
  input {
    width: 100%;
  }
}

.bookcase-image {
  background-image: url(asset-path("bookcase.jpg"));
}
.publisher-image {
  background-image: url(asset-path("publisher.jpg")); 
}


.v-hidden {
  visibility: hidden!important;
}


.background-image {
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  .login-card {
    width: 40%;
    height: auto!important;
    max-width: 320px;
    @media screen and (max-width: $break-phablet) {
      width: auto;
      max-width: 90%;
    }
  }
}
