@import 'imports/colors';

.form-errors p {
  background-color: $error_msg_background;
  color: $error_msg_color;
}

.pub-cover-wrapper {
  overflow: hidden;
  max-height: 400px;
}

.publisher-each {
  strong {
    font-weight: inherit!important;
  }
}

.create-mikrogram {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 100%;
}

