:plain
  div = document.getElementsByClassName('js-message')[0];
  console.log(div);
  div.classList.remove('d-none');
  div.classList.add('toast', 'toast-warning');
  div.insertAdjacentHTML('beforeend', '#{@message.html_safe}');

