:plain
  div = document.getElementsByClassName('js-message')[0];
  div.classList.remove('d-none');
  div.classList.add('toast', 'toast-success');
  text_div = document.getElementsByClassName('js-text-field')[0];
  text_div.innerHTML = '#{@message.html_safe}';

