:plain
  div = document.getElementsByClassName('js-message')[0];
  console.log(div);
  div.classList.remove('d-none');
  div.classList.add('toast', 'toast-success');
  div.insertAdjacentHTML('beforeend', '#{@message}');

